@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700,800');
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css');
html {
  font-size: 100%;
  background-color: #eaeaea;
}

body {
  background: #d9dadc; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to bottom,
    #f5f7f9,
    #d9dadc
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to bottom,
    #f5f7f9,
    #d9dadc
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: Open Sans, arial, sans-serif;
  margin: 0;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
